include MANIFEST.in
include prga/VERSION
graft prga/cfg/scanchain/templates
graft prga/cfg/pktchain/templates
graft prga/renderer/templates
graft prga/tools/templates
graft prga/tools/scanchain/simproj/templates
graft prga/tools/pktchain/simproj/templates
global-exclude __pycache__
global-exclude *.pyc
